---
title: KjG Goldbach
root:
layout: default
---


<div class="front-hero">
  <div style="background-color: red; padding: 10px; margin-top: 20px; text-align: center">
    <h2>Diese Webseite befindet sich noch im Aufbau! WIP</h2>
    <h3>Alle Angaben dienen nur zu Testzwecken.</h3>
  </div>
  <div class="hero">
    <a class="hero-header" href="{{ site.url }}/juggerturnier/">
      <img src="{{ site.url }}/assets/img/pompfen.svg"></img>
      <div class="hero-text">
        <h1>Juggerturnier</h1>
        <h2>Am 3. Juni 2017</h2>
        <h4>Wir veranstalten ein Juggerturnier für interessierte Jugendgruppen und Vereine. Mehr Infos zum Spiel und zur Anmeldung findet ihr hier auf unserer Webseite!</h4>
      </div>
    </a>
    <div class="hero-video">
      <!-- <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/4FUxKwKryz8?controls=0" frameborder="0" allowfullscreen></iframe> -->
      <div class="youtube-player" data-id="4FUxKwKryz8"></div>
    </div>
  </div>
</div>

<div class="front-body">
  <div class="front-cards">
    <a class="front-card" href="{{ site.url }}/juggerturnier/">
      <div class="card-image">
        <img src="{{ site.url }}/assets/img/jugger.jpg" alt="">
      </div>
      <div class="card-header">
        <h3>Was ist Jugger?</h3>
      </div>
      <div class="card-text">
        <p><b>
          Jugger ist ein schneller Teamsport.
        </b></p>
        <p>
          Ausgerüstet mit "Pompfen" treten je 5 Spieler
          gegeneinander an und versuchen, den als als Jugg" bezeichneten Ball durch die gegnerische
          Spielfeldhälfte hindurch ins Tor zu befördern.
        </p>
        <p>
          Kommunikation, Teamgeist und Strategien sind ausschlaggebend für den Erfolg!<br/>
          Außerdem macht es jede Menge Spaß und ist auch noch super zum Auspowern.
        </p>
        <p><b>
          Weitere Infos findet ihr auf unserer Webseite.
        </b></p>
      </div>
    </a>

    <a class="front-card" href="{{ site.url }}/about/">
      <div class="card-image">
        <img src="{{ site.url }}/assets/img/about/gruppenstunde.jpg" alt="">
      </div>
      <div class="card-header">
        <h3>Wer sind wir?</h3>
      </div>
      <div class="card-text">
        <p><b>
          Wir sind die Katholische junge Gemeinde aus Goldbach -
          Eine Jugendgruppe mit rund 50 aktiven Mitgliedern von 8 bis 26 Jahren.
        </b></p>
        <p>
          Wir geben Kindern, Jugendlichen und jungen Erwachsenen Raum einander zu begegnen und
          gemeinsam Spaß zu haben. Neben einer wöchentlichen Gruppenstunde veranstalten wir auch ein großes Sommerzeltlager,
          Jugendfreizeiten und viele weitere Aktionen im ganzen Jahr.
        </p>
      </div>
    </a>

    {% include calendar.html %}

  </div>
  <div class="front-posts">
    {% for post in site.posts limit:site.frontpage-news %}
      <div class="front-post">
        {% if post.header_img != nil %}
          <div class="front-post-header">
            <img src="{{ site.url }}{{ post.header_img }}"></img>
            <h1>
              {{ post.title | escape }}
            </h1>
          </div>
        {% endif %}
        <div class="front-post-content">
          {% if post.header_img == nil %}
            <h1 class="aktuelles-title">
              {{ post.title | escape }}
            </h1>
          {% endif %}
          {{ post.excerpt }}
          <br/>
        </div>
        <div class="front-post-footer">
          <time>
            Verfasst am {{ post.date | date: "%d.%m.%Y" }}
          </time>
          <a href="{{ site.url }}{{ post.url }}">
            Weiterlesen...
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
