// CSS für "Über Uns"-Sektion //

.about-body
  +outer-container($outer-container-width)

  img
    width: 100%
    +add-border

    +media($large-screen)
      +flex(1)
      width: 20%
      height: auto
      margin-bottom: 0
      &:first-child
        margin-right: $card-margin

  .about-description
    +display(flex)
    +flex-wrap(wrap)
    +justify-content(center)
    +align-items(flex-start)
    margin-top: $card-margin
    margin-bottom: $card-margin

  .about-aktionen
    @extend .about-description
    +flex(3)

  .about-img
    +display(flex)
    +flex-wrap(wrap)
    +justify-content(center)
    +align-items(flex-start)
    +flex(1)

    img
      min-width: 200px

      +media($large-screen)
        margin-right: $card-margin
        margin-top: $card-margin/2

      &:first-child
        margin-top: 0


  .about-ziele
    @extend .about-description
    +align-items(stretch)


  .about-text
    +align-self(stretch)
    background-color: $white
    margin: 0
    padding: 3px 0 15px 0
    +add-border

    +media($large-screen)
      +flex(2)
      &:first-child
        margin-right: $card-margin

    h3
      margin: 5px 0 0 0
      text-transform: uppercase
      background-color: $zusatz
      color: $white
      font-size: 1.8em
      line-height: 1.2
      padding: 3.5% 0 2.5% 3.5%

    p
      font-size: 16px
      padding-right: 4%
      padding-left: 4%


  .about-aktionen img
    +media($large-screen)
      width: 50%


.about-gallery
  margin-top: 10px
  align-self: stretch

  +media($large-screen)
    +flex(3)
    margin-top: 0

    &:first-child
      margin-right: $card-margin

  img
    +add-border
    min-height: 200px
    margin-bottom: -10px


.about-map
  +display(flex)
  +flex-wrap(wrap)
  +flex(1)

  //+media($large-screen)
    //height: 400px


#aboutmap
  +flex(3)
  +add-border
  order: 5
  min-height: 300px
  margin-top: $card-margin/2

  +media($large-screen)
    margin-top: 0
    order: 0
