.jugger-intro-div
  +display(flex)
  +outer-container(900px)
  margin-top: $card-margin

.jugger-intro-body
  //+flex(2.8)

.jugger-hero
  width: 100%
  margin-bottom: $card-margin/2

.jugger-intro-text
  margin-bottom: $card-margin/2
  padding: 15px 15px 20px 15px
  width: 100%
  background-color: $white
  color: $zusatz
  +add-border

  h1
    margin-top: 0
  h2
    margin-top: 0
    margin-bottom: 0
  p
    font-size: 1em
    +media($large-screen)
      font-size: 1.2em


.jugger-intro-video
  +display(flex)
  +add-border
  margin-bottom: $card-margin/2

  .jugger-intro-video-wrapper
    +flex(5)

  .jugger-intro-video-desc
    +flex(1)
    background-color: $zusatz
    color: $white
    display: none

    +media(760px)
      display: inline

    h3, h4
      padding: 20px 10px 20px 10px
      text-align: center
      margin: 0

    h1
      font-size: 3em
      //width: 80px
      //padding: 20px
      transform: rotate(-90deg) translateY(-50%) translateX(-50%)

    img
      width: 100%
      height: auto
      padding-right: 10px
      padding-top: 40px
      padding-bottom: 30px

#jugger-videos
  margin-bottom: $card-margin

.jugger-header
  margin: 0
  text-transform: uppercase
  background-color: $zusatz
  color: $white
  font-size: 1.8em
  line-height: 1.2
  padding: 15px 25px 15px 25px
  +add-border


.jugger-pompfen
  +display(flex)
  +flex-wrap(wrap)
  +justify-content(center)
  +align-items(flex-start)
  margin-bottom: $card-margin
  // Fix für IE11
  max-width: 900px

  // Position+Farbe des Unslider-Arrows überschreiben
  .unslider-arrow
    top: 33%
    &:hover
      background-color: transparentize($zusatz, 0.2)

  .jugger-pompfen-body
    li
      +display(flex)
      +flex-wrap(wrap)
      +align-items(flex-start)
      box-sizing: border-box

      height: 31em
      +media($large-screen)
        height: 32.5em
        +flex(1.2 0 0px)


    .jugger-pompfe
      flex-grow: 1
      background: $white
      color: $zusatz
      text-decoration: none
      margin-bottom: 10px
      +add-border

      +media($large-screen)
        flex-basis: 100%
        margin: 0
        margin-bottom: $card-margin

    .jugger-pompfen-img
      overflow: hidden
      width: 100%
      display: inline-block

      img
        display: block
        max-height: 18.75em
        opacity: 1
        transition: all 0.2s ease-in-out
        width: 100%

    .jugger-pompfen-text
      +flex(1)
      height: 100%
      background-color: $white
      color: $zusatz
      padding: 15px 15px 20px 15px
      font-size: 0.9em
      +media($large-screen)
        font-size: 1em

      h4
        margin: 0
        font-size: 1.5em
      p
        font-size: 1.2em
        margin-bottom: 0
        &:first-child
          margin-top: 0


    .jugger-pompfen-header
      background: $main
      padding: 2.5% 3% 2% 3%
      color: white
      width: 100%

      h3
        font-size: 1.5em
        line-height: 1.2
        //padding: 0 3.5%
        margin: 0



.jugger-regeln-header
  +display(flex)
  +align-items(center)
  background-color: $zusatz
  padding: 10px 25px 10px 0px
  //margin-bottom: $card-margin/2

  img
    display: none
    width: 10%
    +media($large-screen)
      display: inline

  h1
    background-color: $zusatz
    color: $white
    padding: 5px 10px 5px 10px
    margin: 0
    margin-left: 20px
    text-transform: uppercase
    font-size: 40px
