<div class="calendar-div">
  <div class="calendar-header">
    <h1>KjG-Kalender</h1>
  </div>
  {% assign nowunix = site.time | date: '%s' %}
  {% assign counter = 1 %}
  {% for post in site.calendar %}
    {% assign currentdate = post.date | date: "%m %Y" %}
    {% assign posttime = post.date | date: '%s' %}
    {% if posttime < nowunix %}
      {% continue %}
    {% endif %}
    {% if currentdate != date %}
      {% unless counter == 1 %}</ul><hr>{% endunless %}
      {% assign counter = counter | plus: 1 %}
      <h3 id="y{{post.date | date: "%Y"}}">
        {% assign m = post.date | date: "%-m" %}
        {% case m %}
          {% when '1' %}Januar
          {% when '2' %}Februar
          {% when '3' %}März
          {% when '4' %}April
          {% when '5' %}Mai
          {% when '6' %}Juni
          {% when '7' %}Juli
          {% when '8' %}August
          {% when '9' %}September
          {% when '10' %}Oktober
          {% when '11' %}November
          {% when '12' %}Dezember
        {% endcase %}
        {{ post.date | date: "%Y"}}
      </h3>
      <ul>
      {% assign date = currentdate %}
    {% endif %}
      <li>
        {% if post.link != nil %}
        <h4><a href="{{ site.github.url }}{{ post.link }}">{{ post.name }}</a></h4>
        {% else %}
        <h4>{{ post.name }}</h4>
        {% endif %}
        {% if post.end_date != nil %}
          <p>Vom {{ post.date | date: "%-d.%-m."}} bis {{ post.end_date | date: "%-d.%-m." }}</p>
        {% else %}
          <p>Am {{ post.date | date: "%-d."}}
          {% assign m = post.date | date: "%-m" %}
          {% case m %}
            {% when '1' %}Januar
            {% when '2' %}Februar
            {% when '3' %}März
            {% when '4' %}April
            {% when '5' %}Mai
            {% when '6' %}Juni
            {% when '7' %}Juli
            {% when '8' %}August
            {% when '9' %}September
            {% when '10' %}Oktober
            {% when '11' %}November
            {% when '12' %}Dezember
          {% endcase %}
          </p>
        {% endif %}
        <p> {{ post.short }} </p>
      </li>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
</div>
