<footer class="footer" role="contentinfo">

  <div class="footer-logo">
    <img src="{{ site.url }}/assets/img/logo.svg" alt="Seelenbohrer">
  </div>

  <ul>
    <li><a href="{{ site.url }}/impressum">Impressum</a></li>
    <li><a href="{{ site.url }}/impressum#datenschutz">Datenschutz</a></li>
    <li><a href="{{ site.url }}/impressum#copyright">© 2016 KjG Goldbach</a></li>
  </ul>

  <div class="footer-secondary-links">
    <ul class="footer-social">
      <li><a href="mailto:{{ site.email }}">
        <img src="{{ site.url }}/assets/img/footer/envelope-square.svg" alt="Email">
      </a></li>
      <li><a href="https://www.youtube.com/channel/UC0tV2hOJtu6JFnms_2eOKpQ">
        <img src="{{ site.url }}/assets/img/footer/youtube-square.svg" alt="YouTube">
      </a></li>
      <li><a href="{{ site.url }}/{{ site.feed.path }}">
        <img src="{{ site.url }}/assets/img/footer/rss-square.svg" alt="RSS Feed">
      </a></li>
    </ul>
  </div>
</footer>
