<footer class="footer" role="contentinfo">

  <div class="footer-logo">
    <img src="{{ page.root }}/assets/img/logo.svg" alt="Seelenbohrer">
  </div>

  <ul>
    <li><a href="{{ page.root }}/impressum">Impressum</a></li>
    <li><a href="{{ page.root }}/impressum#datenschutz">Datenschutz</a></li>
    <li><a href="{{ page.root }}/impressum#copyright">© 2016 KjG Goldbach</a></li>
  </ul>

  <div class="footer-secondary-links">
    <ul class="footer-social">
      <li><a href="mailto:{{ site.email }}">
        <img src="{{ page.root }}/assets/img/envelope-square.svg" alt="Email">
      </a></li>
      <li><a href="https://www.youtube.com/channel/UC0tV2hOJtu6JFnms_2eOKpQ">
        <img src="{{ page.root }}/assets/img/youtube-square.svg" alt="YouTube">
      </a></li>
      <li><a href="{{ page.root }}/feed.xml">
        <img src="{{ page.root }}/assets/img/rss-square.svg" alt="RSS Feed">
      </a></li>
    </ul>
  </div>
</footer>
