<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.url }}" class="logo">
      <img src="{{ site.url }}/assets/img/header/wortmarke.svg" alt="Logo - Seelenbohrer">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link">
          <a href="{{ site.url }}" {% if page.url == "/" %}class="active"{% endif %}>Willkommen</a>
        </li>
        <li class="nav-link">
          <a href="{{ site.url }}/aktuelles/" {% if page.url contains "/aktuelles/" %}class="active"{% endif %}>Aktuelles</a>
        </li>
        <li id="js-navigation-more" class="nav-link more">
          <a href="javascript:void(0)" {% if page.url contains "/juggerturnier" %}class="active"{% endif %}>Juggerturnier</a>
          <ul class="submenu">
            <li><a href="{{ site.url }}/juggerturnier/">Was ist Jugger?</a></li>
            <li><a href="{{ site.url }}/juggerturnier/details/">Unser Turnier</a></li>
            <li><a href="{{ site.url }}/juggerturnier/regeln/">Die Jugger-Regeln</a></li>
          </ul>
        </li>
        <li class="nav-link">
          <a href="{{ site.url }}/about/" {% if page.url == "/about/" %}class="active"{% endif %}>Über Uns</a>
        </li>
      </ul>
    </nav>
    {% if page.url contains "/juggerturnier" %}
    <img src="{{ site.url }}/assets/img/header/logo_ecke_gruen.svg" class="corner-logo"></img>
    {% else %}
    <img src="{{ site.url }}/assets/img/header/logo_ecke.svg" class="corner-logo"></img>
    {% endif %}
  </div>
</header>
