<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.github.url }}" class="logo">
      <img src="{{ site.github.url }}/assets/img/wortmarke.svg" alt="Logo - Seelenbohrer">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link">
          <a href="{{ site.github.url }}/" {% if page.url == "{{ site.github.url }}/" %}class="active"{% endif %}>Willkommen</a>
        </li>
        <li class="nav-link">
          <a href="{{ site.github.url }}/aktuelles" {% if page.url == "{{ site.github.url }}/aktuelles/" %}class="active"{% endif %}>Aktuelles</a>
        </li>
        <li id="js-navigation-more" class="nav-link more">
          <a href="javascript:void(0)" {% if page.url contains "/juggerturnier/" %}class="active"{% endif %}>Juggerturnier</a>
          <ul class="submenu">
            <li><a href="{{ site.github.url }}/juggerturnier">Was ist Jugger?</a></li>
            <li><a href="{{ site.github.url }}/juggerturnier/regeln">Die Regeln im Detail</a></li>
            <li><a href="{{ site.github.url }}/juggerturnier/turnier">Unser Turnier</a></li>
            <li><a href="{{ site.github.url }}/juggerturnier/anmeldung">Anmeldung</a></li>
          </ul>
        </li>
        <li class="nav-link">
          <a href="{{ site.github.url }}/about" {% if page.url == "{{ site.github.url }}/about/" %}class="active"{% endif %}>Über Uns</a>
        </li>
      </ul>
    </nav>
    <img src="{{ site.github.url }}/assets/img/ecke.svg" class="corner-logo"></img>
  </div>
</header>
