<!-- Side-Nav für die Jugger-Seiten -->
<div class="jugger-menu-div">
  <div class="jugger-menu-gallery">
    {% include image_gallery.html images="gruppe.jpg, jugg.jpg" path="/assets/img" options="animateHeight: true, arrows: false, autoplay: true, nav: false, delay: 5000" %}
  </div>
  <aside class="jugger-menu">
    <ul>
      <li>
        <a href="{{ site.github.url }}/juggerturnier" {% if page.url == "{{ site.github.url }}/juggerturnier/" %}class="active"{% endif %}>Was ist Jugger?</a>
      </li>
      <li><a href="{{ site.github.url }}/juggerturnier/regeln" {% if page.url == "{{ site.github.url }}/juggerturnier/regeln/" %}class="active"{% endif %}>Regeln im Detail</a>
        <ul>
          <li><a href="{{ site.github.url }}/juggerturnier/regeln">Spielablauf</a></li>
          <li><a href="{{ site.github.url }}/juggerturnier/regeln">Pompfen und Spieler</a></li>
          <li><a href="{{ site.github.url }}/juggerturnier/regeln">FAQ und Links</a></li>
        </ul>
      </li>
      <li><a href="{{ site.github.url }}/juggerturnier/turnier" {% if page.url == "{{ site.github.url }}/juggerturnier/turnier/" %}class="active"{% endif %}>Unser Turnier</a></li>
      <li><a href="{{ site.github.url }}/juggerturnier/anmeldung" {% if page.url == "{{ site.github.url }}/juggerturnier/anmeldung/" %}class="active"{% endif %}>Anmeldung</a></li>
    </ul>
  </aside>
</div>
