---
title: Über Uns - KjG Goldbach
root: ..
layout: default
---

<div class="about-body">

  <div class="about-description">
    <div class="about-img">
      <img id="menschenbohrer" src="{{ site.url }}/assets/img/about/kjg-menschenbohrer.jpg">
      <img id="hoimleiter" src="{{ site.url }}/assets/img/kjg-leiter.jpg">
    </div>
    <div class="about-text">
      <h3 class="about-header">Wer sind wir?</h3>
      <div>
        {% capture intro %}{% include_relative _intro.md %}{% endcapture %}
        {{ intro | markdownify }}
      </div>
    </div>
  </div>

  <div class="about-aktionen" id="about-aktionen">
    <div class="about-aktionen-body">
      <ul>
        {% for a in site.aktionen %}
          <li>
            <img src="{{ site.url }}{{ a.img_path }}"></img>
            <div class="about-aktionen-text">
              <h3 class="about-header">{{ a.title }}</h3>
              {{ a.content }}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="about-ziele">
    <div class="about-img">
      <img src="{{ site.url }}/assets/img/about/weg.jpg" id="weg">
      <img src="{{ site.url }}/assets/img/about/zusammenhalt.jpg">
    </div>
    <div class="about-text">
      <h3 class="about-header">Wofür stehen wir?</h3>
      <div>
        {% capture ziele %}{% include_relative _ziele.md %}{% endcapture %}
        {{ ziele | markdownify }}
      </div>
    </div>
  </div>

  <div class="about-map" id="hoim">
    <div class="about-text">
      <h3 class="about-header">Das KjG-Hoim</h3>
      <div>
        <p>Oh eine Schatzkarte!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Vestibulum mollis velit non gravida venenatis.
        Praesent consequat lectus purus, ut scelerisque velit condimentum eu.</p>
      </div>
    </div>
    <iframe id="aboutmap" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=9.173168241977693%2C50.00612205067972%2C9.175163805484774%2C50.00716842908888&amp;layer=mapnik&amp;marker=50.006644380805525%2C9.174166023731232"></iframe>
  </div>

</div>

<script>
// Unslider der /about/ Seite
$(document).ready(function() {
  var unslider = $('.about-aktionen-body').unslider({
    speed: 1200,
    delay: 6000,
    keys: true,
    fluid: true,
    nav: false,
    animateHeight: true
  });
});
</script>
