---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{{ site.url }}/favicon.png" sizes="32x32">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/apple-touch-icon.png">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css" />
  <!-- {% if page.url == "/about/"%}<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />{% endif%} -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=latin-ext" rel="stylesheet"> <!--#TODO -->
</head>
<body class="site">

  <script src="{{ site.url }}/assets/js/jquery-2.1.4.min.js"></script>
  <script src="{{ site.url }}/assets/js/jquery.fitvids.js" type="text/javascript"></script>
  <script src="{{ site.url }}/assets/js/jquery.popup.js" type="text/javascript"></script>
  <script src="{{ site.url }}/assets/js/jquery.unslider.js" type="text/javascript"></script>
  <script src="{{ site.url }}/assets/js/functions.js" type="text/javascript"></script>
  <!-- {% if page.url == "/about/"%}<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>{% endif%} -->


  {% include header.html %}

  <main class="site-content">
    {{ content }}
  </main>

  {% include footer.html %}

</body>
</html>
